@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    East Tennessee State University<br/>
    Johnson City, TN 37604<br/>
    <abbr title="Phone">P:</abbr>
    423.867.5309
</address>