@{
    ViewBag.Title = "ProFinder.com";
}
<div class="jumbotron">
    <h1>ProFinder.com</h1>
    <p class="lead">
        Profinder.com is your source for professionals when you need a service. Whether you're looking for a contractor to help with remodeling your home or a
        trusted health professional in your area, ProFinder.com will help you find them. We store information about professionals so you can easily compare them and
        hire the one that best suits your need!
    </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Locate</h2>
        <p>
            Once professionals in your area have registered for an account with ProFinder.com, they can be found using our patented algorithm developed by students on the cutting edge of
            software development from East Tennessee State University. It's not rocket science, it's much much harder than that, but we do it for you because we want little Timmy
            to get his Piano Lessons from the best instructor in your area.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Background Checks</h2>
        <p>
            You need a babysitter you can trust. ProFinder.com is the perfect tool to locate that Nanny or "Manny", it's 2018 after all, since we require intense physical and psychological
            screening of each professional candidate. When you find a sitter on ProFinder.com you can rest assured they will jump higher, Run faster, and be less inclined to go on a murderous rampage
            than sitters you find on those other sites. Don't trust your progeny with Angie's List, they'll let anyone register an account. Lil Timmy is safer with us.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Review</h2>
        <p>
            Once you find a professional you can read and leave your own reviews on their performance for others to see. You can also see what others write and say about that professional.
            Don't worry, you'll never hear anything bad about our professionals because any negative review will result in immediate and permanent termination....of their account.
        </p>
    </div>
</div>